<p id="notice"><%= notice %></p>

<h1>Listing Topic Group Level1s</h1>

<table>
  <thead>
    <tr>
      <th>Era</th>
      <th>Name</th>
      <th>Start year</th>
      <th>End year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @level1_topic_groups.each do |level1_topic_group| %>
      <tr>
        <td><%= level1_topic_group.era == nil ? nil : level1_topic_group.era.name %></td>
        <td><%= level1_topic_group.name %></td>
        <td><%= level1_topic_group.start_year %></td>
        <td><%= level1_topic_group.end_year %></td>
        <td><%= link_to 'Show', level1_topic_group %></td>
        <td><%= link_to 'Edit', edit_level1_topic_group_path(level1_topic_group) %></td>
        <td><%= link_to 'Destroy', level1_topic_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic group level1', new_level1_topic_group_path %>
