
<h1><%= @era.name %></h1>

<br>

<table class = "table">
    <thead>
      <tr>
        <th>Aikajakso</th>
        <th>Alkaa</th>
        <th>Päättyy</th>
	
      </tr>
    </thead>
	<tbody>
    <% @era.level1_topic_groups.each do |group| %>
	    <tr>
	       <td><%= link_to group.name, group %></td>
	      <td><%= group.start_year == nil ? nil :  year_from_date(group.start_year) %></td>
	      <td><%= group.end_year == nil ? nil : year_from_date(group.end_year) %></td>
	  </tr>
    <% end %>
</tbody>
   
	
</table>

<%= link_to 'Takaisin', eras_path %>
