<p id="notice"><%= notice %></p>

<h1>Listing Level 2 Topic Groups</h1>

<table>
  <thead>
    <tr>
      <th>Topic group level 2</th>
      <th>Name</th>
      <th>Start year</th>
      <th>End year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @level2_topic_groups.each do |level2_topic_group| %>
      <tr>
        <td><%= level2_topic_group.level1_topic_group %></td>
        <td><%= level2_topic_group.name %></td>
        <td><%= level2_topic_group.start_year %></td>
        <td><%= level2_topic_group.end_year %></td>
        <td><%= link_to 'Show', level2_topic_group %></td>
        <td><%= link_to 'Edit', edit_level2_topic_group_path(level2_topic_group) %></td>
        <td><%= link_to 'Destroy', level2_topic_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic group level2', new_level2_topic_group_path %>
